WSDL_Examples/INSE.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://INSE/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://INSE/"
	name="ServerImplService">
	<import namespace="http://Interfaces/"
		location="http://localhost:9090/ws/server?wsdl=1" />
	<binding xmlns:ns1="http://Interfaces/"
		name="ServerImplPortBinding" type="ns1:ServerInterface">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
		<operation name="removeStudentCourse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="addStudentCourse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="revertRemove">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="revertAdd">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="addCourse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="removeCourse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="dropCourse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="enrolCourse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="getClassSchedule">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="swapCourse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="listCourseAvailability">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
		<operation name="studentSemesterCourseCount">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://Interfaces/" />
			</output>
		</operation>
	</binding>
	<service name="ServerImplService">
		<port name="ServerImplPort" binding="tns:ServerImplPortBinding">
			<soap:address location="http://localhost:9090/ws/server" />
		</port>
	</service>
</definitions>